<html>
    <head>
    </head>
<body>
  It's <%= @name_01 %> vs. <%= @name_02 %>!

  <%= @name_02 %>: 100 hit points

  <form action="/status">
    <input type="submit" value="attack" />
  </form>

</body>
</html>
